body {
    background-color: rgba(0, 0, 0, 0.89);
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    color: cornflowerblue;
    font-family: Orbitron;
    font-size: 50px;
    letter-spacing: 6px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

#date {
    position: absolute;
    top: 40%;
    left: 50%;
    color: cornflowerblue;
    font-family: Orbitron;
    font-size: 45px;
    letter-spacing: 5px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}